@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    IPG<br />
    Computer Science Engineering<br />
</address>

<address>
    <strong>Support:</strong> support@ipg.pt<br />
    <strong>Marketing:</strong> marketing@ipg.pt
</address>